@media all and (max-width: 992px) {
	.row {
		display: block !important;
	}
}

#submit-button {
	text-align: center;
}

.social-btn {
	 margin-top: 30px;
	 margin-bottom: 50px;
}

#send {
	margin-top: 30px;
}

.row {
	display: flex;
}

.rhs_content, .rhs_content .inner {
	min-height: 100%;
}

.form-group label, input {
	margin-left: 10%;
}

input {
	max-width: 80%;
}