html, body {
  background-color: #753a88;
  font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#form-container {
  background-color: #fff;
}

#signup-buttons, #signup-submit-div, #signin-submit-div {
  text-align: center;
}

.highlight, #signup-buttons .btn:focus {
  background-color: #753a88;
  color: white;
}

#company-name {
  	font-size:28px;
  	font-weight: 400;
}

.form-group label, .radio-label {
  font-size:16px;
  font-weight: 300;
}

.form-group input{
  font-size:12px;
  font-weight: 300;
}

.radio-inline {
  font-weight: 300;
  font-size: 14px;
}

.radio-container {
  margin-bottom: 15px;
}
