<!DOCTYPE html>
<html>
<head>
	<title>Startversity sign up</title>
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>
  <div class="container">
  <div class="row" style="margin-top: 50px;">
      <div class="col-lg-3 col-sm-1"></div>
      <div class="col-lg-6 col-sm-10">
        <div class="well" id="form-container">
          <div id="logo-div" style="text-align: center;">
            <img src="https://avatars0.githubusercontent.com/u/31920837?v=4&amp;s=200" style="background-color: white;">
          </div>
          <div class="text-center">
            <h1 id="company-name">
              Startversity
            </h1>
            <p>
              Your journey starts here!
            </p>
          </div>
          <hr/>
          <div id="signup-buttons" style="margin-bottom: 15px;">
            <button class="btn btn-default highlight" id="signup-button">Sign up</button>
            <button class="btn btn-default" id="signin-button">Sign in</button>
          </div>
          <div class="toggled-content" id="signup-content">
            <form>
              <div class="form-group">
                <input type="name" class="form-control" id="inputName" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="radio-container">
                <div style="margin-bottom: 5px;">
                </div>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" class="student-choice" value="option1"> Student
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="tutor-choice" value="option2"> Teacher
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="content-creator-choice" value="option3"> Content Creator
                </label>
              </div>
            <div class="form-inline" style="margin-bottom: 15px;">
              <div class="form-group" style="width: 49%;">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" style="width: 100%">
              </div>
              <div class="form-group" style="width: 50%;">
                <input type="password" class="form-control" id="re-inputPassword" placeholder="Retype Password" style="width: 100%">
              </div>
                          </div>
              <div id="signup-submit-div">
                <button type="submit" class="btn highlight">Submit</button>
              </div>
            </form>
          </div>
          
          <div class="toggled-content" id="signin-content" style="display:none;">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="signInInputEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="signInInputEmail" placeholder="Password">
              </div>
              <div id="signin-submit-div">
                <button type="submit" class="btn highlight">Submit</button>
                <button class="btn btn-default">Forgot Password?</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
</body>
</html>