<!DOCTYPE html>
<html>
<head>
  <title>Student Dashboard</title>
  <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <% include partials/sidebar %>
  <script type="text/template" id="dashboard-row">
    <div>
      <h1 class="heading" style="margin-bottom: 20px;">Dashboard</h1>
      <h2 class="heading" style="margin-bottom: 20px;"><span><i class="fa fa-graduation-cap sidebar-icon" aria-hidden="true"></i></span><spam style="margin-left: 15px;">Recommended Courses</spam></h2>
      <div class="row append-data">
      </div>
    </div>
  </script>

  <script type="text/template" id="dashboard-col">
    <div class="col-lg-3 col-sm-4 col-xs-6">
      <a href="#" style="text-decoration: none;">
      <div class="thumbnail">
        <img class="img-thumbnail" src="http://media.gettyimages.com/photos/green-glowing-electromagnetic-plasma-fields-in-space-picture-id846739218?s=170667a&w=1007" style="width: 100%;">
          <div class="caption">
            <h4 class="text-center">Electromagnetism</h4>
            <p id="review">This is a course about electro and magnetism combined!</p>
            <div class="rating text-center" id="{{id}}" style="margin-bottom: 15px;">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <div class="small" style="text-align: center; margin-bottom: 15px;">
              <span><i class="fa fa-user sidebar-icon" aria-hidden="true"></i></span><span>2504</span>
              <span style="margin-left: 15px;"><i class="fa fa-clock-o sidebar-icon" aria-hidden="true"></i></span><span>25 Hours</span>
            </div>
            <div id="read-detail" style="text-align: center;">
              <h2 class="heading" style="color: #333;"><strong>$23</strong></h2>
            </div> 
          </div>
      </div>
      </a>
    </div>
  </script>

  <script type="text/javascript" src="js/studentdashboard.js"></script>
</body>
</html>