<!DOCTYPE html>
<html>
<head>
  <title>About Startversity</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <% include partials/sidebar %>
  <h1 class="heading" style="margin-bottom: 20px;">Settings</h1>
</body>
</html>