<!DOCTYPE html>
<html>
<head>
  <title>About Startversity</title>
  <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <% include partials/sidebar %>
  <script type="text/template" id="dashboard-row">
    <div>
      <h1 class="heading" style="margin-bottom: 20px;">Dashboard</h1>
      <div class="row append-data">
      </div>
    </div>
  </script>

  <script type="text/template" id="dashboard-col">
    <div class="col-lg-4 col-xs-6">
      <div class="well" style="height: 200px;">
      </div>
    </div>
  </script>
  <script type="text/javascript" src="js/studentdashboard.js"></script>
</body>
</html>